<div class="jumbotron text-center">
    <div class="post_background">
        <md-input-container class="md-block">
            <textarea placeholder="What's your Message for Isabella?" id="postTextArea" ng-model="post.text" rows="5"></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary pull-right pink_btn" ng-click="submitPost(post)">Primary</md-button>
    </div>
</div>

<ul class="posts">
    <li ng-repeat="post in posts">
        {{post.text}}
    </li>
</ul>