.jumbotron {
  background-image: url("../img/yellow-polka-dot-background.jpg");
  height: auto;
  margin-bottom: 0;

  .post_background {
    width: 50%;
    height: 90%;
    margin: auto;
    background: rgba(89,172,139,0.7);
    outline: 5px solid white;
    position: relative;

    #postInput {
      overflow: hidden;
      label {
        font-size: 29px;
        color: #ECECEC;
        margin-bottom: -35px;
      }
    }

    #postTextArea {
      color: white;
      font-size: 3em;
      margin-top: 2ex;
      margin-bottom: 50px;
      height: 100px;
      width: 103%;
      overflow: scroll;
      overflow-x: hidden;
      line-height: 1;
      border-color: rgba(0,0,0,0);
    }

    #imagePreviewRow {
      margin-bottom: 240px;
      .imagePreview {
        height: 125px;
        float: left;
      }
    }
    #post_button_container {
      position: absolute;
      bottom: 0;
      .row {
        border-top: 2px solid #ECECEC;
      }
    }

    .md-input-focused {
      label {
        color: grey!important;
      }
      textarea {
        border-color: rgba(0,0,0,0);
      }
    }
    .post_icon {
      cursor: pointer;
      padding: 15px 0;
      i {
        font-size: 40px;
        color: #ECECEC;
      }
      div {
        color: #ECECEC;
        font-size: 18px;
      }
      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
      &:focus {
        outline: 0!important;
      }
    }
    #postBtn {
      background-color: rgba(0,0,0,0);
      cursor: default;
    }
  }
}

#post_feed_header {
  background: #59AC8B;

  .header_items {
    padding: 15px;
    font-size: 18pt;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.05);
      border-bottom: 5px solid #FFF37B;
    }
    &:focus {
      outline: 0!important;
    }
  }

  .active {
    font-weight: bolder;
    border-bottom: 5px solid #FFF37B;
  }

}

.posts {
  margin-top: 2%;
  .post_contain_div {
    margin: auto;

    .post_cards {
      background: #F7FCD6;
    }
  }
}