body {
  padding-top: 45px;
  background: #ECECEC;

  ul li {
    list-style-type: none;
  }
  #ui_view_div {
    background: #ECECEC;
    .pink_btn {
      background-color: #E37695!important;

      &:hover {
        background: #E2507A!important;
      }
    }
  }
  md-content {
    background: inherit;
  }
  #nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
  }
}