body {
  padding-top: 45px;
  background: #ECECEC;

  .md-input-focused {
    input, textarea {
      border-color: white!important;
    }
  }
  .pink_btn {
    background-color: #E37695!important;
  }
}