.navbar {
  background: #59AC8B;

  #izzyHeader {

    .navbar-text, a {
      color: white;
    }

    #brandLogo {
      font-family: 'GiveYouGlory', sans-serif;
      font-weight: bolder;
      font-size: 30pt;
      margin-bottom: 3px;
      cursor: pointer;
      i {
        font-size: 24pt;
        font-weight: 700;
      }
    }
  }
}